
svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/* 页脚蝴蝶振翅动画 */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}


/*字体的css*/
@font-face{
    font-family:'Candyhome' ;  /* 字体名自定义即可 */
    src:url('/fonts/title.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  @font-face{
    font-family:'subtitle' ;  /* 字体名自定义即可 */
    src:url('/fonts/subtitle.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  h1#site-title {
     font-family: 'Candyhome', sans-serif;
     font-size: 60px !important;
  }  
  #subtitle{
    font-family: 'subtitle', sans-serif;
  }
  #aside-content{
    font-family: 'subtitle', sans-serif;
  }
  #recent-posts{
    font-family: 'subtitle', sans-serif;
  }

  